Valor Atual no Contador: {{valorContador}}


<!--EXERCICIO CONTADOR-->
<app-exercicio-contador
[(valor)]="valorContador"

></app-exercicio-contador>

<hr>

<!--EXEMPLOS DE EVENT BINDING-->

<!--Evendo Output Filho para Pai-->
<button (click)="onClickBotaoEmissor($event)">
    Emitir informações de clique
</button>
     <br><b>


<button
 (click)="onClick($event)"
 (mouseenter)="passouMouse()">
 Clique em mim!
</button><br>
<input type="text"
[value]="valorDoInput"
(keyup)="digitouAlgo($event)"><br>

Valor do Input: {{valorDoInput}}

<hr>

<!--EXEMPLOS DE PROPERTY BINDING-->
<h2> Palavra: {{palavra}}</h2>
<h2>Cor: {{color}} </h2>

<input type="text" [value]="initialValue"><br>

<button [disabled]="isDisabled"> Clique em mim! </button><br>


<p [attr.aria-label]="isDisabled ? 'Botão desabilitado' : accessibilityText"> Um texto qualquer ...
    </p><br>

    <img [src]="imageURL">